<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="background">
    <head>
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
      </style>
    </head>
    <div id="title1" align = "center">Welcome To</div>
    <div id="title2" align = "center">Chat University Messaging</div>
    <ion-card>
        <ion-card-header id="LoginForm">
            Login Form
        </ion-card-header>

      <ion-card-content>
      <ion-list no-line>

        <ion-item>
          <ion-input placeholder="Username" [(ngModel)]="userName" type="text" value=""></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input placeholder="Email" [(ngModel)]="email" type="text"></ion-input>
        </ion-item>
        <button ion-button (click)="nextPage();" block>Login</button>

      </ion-list>

      </ion-card-content>
      
  </ion-card>

</ion-content>