page-login {
	
	
	#title1 {
		font-size: 15pt;
		color: rgb(252, 252, 252);
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
	
		text-align: center;
		position: relative;
		bottom: 25px;
		
	}
	
	#title2{
		font-size: 25pt;
		color: rgb(253, 251, 251);
		font-family: 'Open Sans',sans-serif;
		font-weight: bold;
		
		text-align: center;
		text-decoration: underline;
		text-decoration-color: rgba(38, 134, 179, 0.37);
		
		position: relative;
		bottom: 12px;
	}

	#LoginForm{
		font-family: Open Sans;
	}
	.background {
        background-image: url('../assets/login4.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
	}

	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
    	}
    
    	.item {
		margin-bottom: 10px;
		background: rgba(255, 255, 255, 0.5);
		border: medium none;
	}

	ion-card.card {
		background:rgba(255,255,255,0.5);
	}

	ion-card-header.card-header {
        font-size: 2rem;
        color: black;
        font-weight: bold;
        font-family: Georgia, Arial, Helvetica, sans-serif;
	}
	
	
	
}