page-home {
    [noScroll] {
        overflow: hidden;
      }
    #message-wrapper{
        height:85%;
    }
    #message-input{
        border-width: 2px;
        border-radius: 5px;
    }
    body{
        background: linear-gradient(to bottom, #1e5799 0%,#14486b 99%);
    }
    input:focus{
        outline: none;
    }
}
