<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<ion-content class="messageView" [attr.noScroll]="shouldScroll">
    <div id="container" class="w3-container w3-center w3-margin">
        <div class="w3-row" id="msg-area">
            
        </div>
    </div>
<ion-list class="w3-card-4 inputView" inset>

    <ion-item>
      <ion-label style="padding: 10px">Message:</ion-label>
      <ion-input id="message-input" [(ngModel)]="messageInput" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <button ion-button (click)="sendMessage()" style="width:90%; left:5%; position:relative; height: 30px;">Send</button>
    </ion-item>
  
  </ion-list>

</ion-content>
