// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.messageView{
    background: linear-gradient(to bottom, #3494E6 -15%,#EC6EAD 115%);
}
.userCard{
    background: linear-gradient(to bottom, #ffdd59 0%,#f7d794 115%);
}

.myCard{
    background: linear-gradient(to bottom, #546de5 0%, #778beb 90%);
}

.inputView{
    border-radius: 15px;
}
